In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
np.random.seed(42)
train = pd.read_csv('train.csv')

/tmp/ipykernel_46926/2461620334.py:2: DtypeWarning: Columns (5,18,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv('train.csv')

In [3]:
train.shape

(100000, 178)

In [4]:
train

,Primary key,Target,account_opening_date,country_code,demog_1,demog_2,income,demog_3,city_tier,occupation,...,demog_39,email_domain,demog_40,demog_41,others_42,others_43,others_44,others_45,demog_42,demog_43
0,1,0,2023/02/18,IN,53.0,3.0,100001 to 5L,101.0,Rural,Self_Employed,...,1,gmail,low,1,NaN,0.0,NaN,NaN,1,medium
1,2,0,2023/02/01,IN,55.0,1.0,0 to 1L,101.0,Tier 1,Salaried,...,1,gmail,High,1,NaN,NaN,NaN,NaN,1,High
2,3,0,2022/12/09,IN,55.0,3.0,0 to 1L,101.0,Tier 2,Self_Employed,...,1,gmail,medium,1,NaN,NaN,NaN,NaN,1,High
3,4,0,2023/03/31,IN,53.0,3.0,100001 to 5L,101.0,Tier 7,Self_Employed,...,1,gmail,High,1,NaN,NaN,NaN,NaN,1,High
4,5,0,2023/01/17,IN,55.0,6.0,0 to 1L,101.0,Tier 1,Student,...,1,gmail,low,1,NaN,NaN,NaN,NaN,1,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,1,2022/12/21,IN,55.0,2,0 to 1L,101.0,Rural,Self_Employed,...,1,gmail,High,1,NaN,NaN,NaN,NaN,1,High
99996,99997,1,2023/03/17,IN,55.0,6,100001 to 5L,101.0,Rural,Student,...,1,gmail,low,1,NaN,NaN,NaN,NaN,1,medium
99997,99998,1,2022/12/08,IN,55.0,1,100001 to 5L,101.0,Tier 6,Salaried,...,1,gmail,High,1,NaN,NaN,NaN,NaN,1,medium
99998,99999,1,2023/03/03,IN,55.0,1,5L to 10L,101.0,Tier 1,Other,...,1,gmail,High,1,NaN,NaN,NaN,NaN,1,High
99999,100000,1,2023/02/03,IN,401.0,2,5L to 10L,101.0,Tier 7,Self_Employed,...,1,gmail,medium,1,NaN,NaN,NaN,NaN,1,medium

In [5]:
t1 = train[train['Target']==1]
t0 = train[train['Target']==0]

In [6]:
train_percent = 70
test_percent = 100 - train_percent

trt1 = t1.sample(len(t1)*train_percent//100)
tet1 = t1.drop(trt1.index)
trt0 = t0.sample(len(t0)*train_percent//100)
tet0 = t0.drop(trt0.index)

train_final = pd.concat([trt1,trt0])
test_final = pd.concat([tet1,tet0])

In [7]:
train_final = train_final.drop(['Primary key'],axis=1)
test_final = test_final.drop(['Primary key'],axis=1)

In [8]:
train_final.to_csv('train_final.csv',index=False)
test_final.to_csv('test_final.csv',index=False)